body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    text-transform: none;
    text-align: center;
    background-color: #ffffff;
    background-position: top center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */

.main-header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1440px;
    margin: 0 auto;
    background-color: #eeeeee;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1160px;
    padding-top: 50px;
    color: #000000;
    text-transform: uppercase; 
}

.main-header-logo {
    height: 65px;
}

.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 440px; 
    padding-top: 15px;
    list-style: none;
    color: #000000;
    text-transform: uppercase;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover,
.catalog-item-price a:hover {
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active,
.catalog-item-price a:active {
    color: #000000;
    opacity: 0.3;
}

.site-navigation .current {
    border-bottom: 2px solid #fb565a;
    padding-bottom: 10px;
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    max-width: 140px;
    margin: 0;
    margin-left: 124px;
    padding: 0;
    padding-top: 15px;
    list-style: none;
}

.user-navigation .basket {
    position: relative;
}
  
.basket::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -40px;
    width: 16px;
    height: 18px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* Slider */

.slider {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    width: 1440px;
    margin: 0 auto;
    padding: 0 140px;
    background-color: #eeeeee;
}
  
.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    width: 160px;
    height: 18px;
    font-size: 0;
    text-align: center;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
  
.slider-controls label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}
  
.slider-controls label::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
}
  
.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.slider-item {
    display: none;
    padding: 70px 0 81px 0;
}
  
.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 16px;
}
  
.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0px;
}
  
.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 17px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}
  
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}
  
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}
  
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}
  
.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 25px;
    padding-top: 5px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: left;
}
  
.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 40px;
    text-align: left;
}
  
.button {
    display: block;
    width: 240px;
    padding: 16px 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}
  
.button:hover,
.button:focus,
.red-btn:hover,
.red-btn:focus,
.popup .button:hover,
.popup .button:focus {
    background-color: #e74246;
}
  
.button:active,
.red-btn:active,
.popup .button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* Main index */

.features-list {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 63px;
    padding-left: 0;
    width: 1105px; 
    list-style: none;
    color: #000000;
    text-transform: uppercase;
}

.feature-item {
    width: 300px;
    text-align: left;
}

.feature-item h3 {
    margin: 0;
    margin-top: 172px;
    font-size: 23px;
    line-height: 30px;
    font-weight: 700;
}

.feature-item p {
    margin-bottom: 31px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #283136;
    text-transform: none;
}

.feature-btn {
    display: block;
    width: 160px;
    margin-bottom: 65px;
    padding: 16px 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.green-btn {
    background-color: #00ca74;
}

.yellow-btn {
    background-color: #efc84a;
}

.green-btn:hover,
.green-btn:focus {
    background-color: #00bc6c;
}
  
.green-btn:active {
    background-color: #00aa62;
    color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.yellow-btn:hover,
.yellow-btn:focus {
    background-color: #eab534;
}
  
.yellow-btn:active {
    background-color: #e5a722;
    color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.feature-item:nth-child(1) {
    background-image: url("../img/illustration-1.png");
    background-repeat: no-repeat;
}

.feature-item:nth-child(2) {
    background-image: url("../img/illustration-2.png");
    background-repeat: no-repeat;
}

.feature-item:nth-child(3) { margin-right: 5px;
    background-image: url("../img/illustration-3.png");
    background-repeat: no-repeat;
}

.studio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 46px;
    text-align: left;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.studio-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 660px;
    margin: 0;
}

.studio-text {
    max-width: 660px;
    margin-bottom: 17px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.studio-desk {
    max-width: 660px;
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.studio-title {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.studio-list {
    margin: 0;
    padding: 8px 0 0 35px;
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    text-transform: none;
}

.studio-item p {
    position: relative;
    padding-bottom: 8px;
}

.studio-item p::after {
    content: "";
    position: absolute;
    bottom: 18px;
    left: -35px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.12) inset;
            box-shadow: 0 -1px rgba(0, 0, 0, 0.12) inset;
}

.studio-stat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 380px;
    margin-top: 240px;
}

.studio-stat-text {
    position: relative;
    margin-bottom: 12px;
    padding-right: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
}

.studio-stat-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    padding-left: 20px;
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #283136;
    text-transform: none;
}

.percent {
    margin-bottom: 37px; 
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    color: #000000;
}

.percent sup {
    font-size: 28px;
}

.studio-stat-item {
    padding-right: 20px;
}

.studio-stat-text::after {
    content: "";
    position: absolute;
    top: -244px;
    left: 20px;
    width: 360px;
    height: 208px;
    background-image: url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.clients {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1160px;
    min-height: 182px;
    padding: 0;
    padding-top: 12px;
    margin-bottom: 80px;
    border-bottom: 2px solid #eeeeee;
}

.clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.clients-item {
    position: relative;
    width: 260px;
    margin: 0;
    padding: 0;
}

.clients-item a {
    opacity: 0.2;
}

.clients-item a:hover,
.clients-item a:focus {
    opacity: 1;
}

.clients-item a:active {
    opacity: 0.1;
}

.clients-item:not(:last-child) {
    margin-right: 40px;
}

.clients-item:not(:last-child)::before {
    content: "";
    position: absolute;
    bottom: 28px;
    left: 278px;
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
}

/* Map and contacts */

.map {
    position: relative;
    width: 100%;
    min-height: 416px;
    padding: 0;
    background-image: url(../img/map.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.map iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/* .map::after {
    content: "";
    position: absolute;
    top: 89px;
    right: 390px;
    width: 231px;
    height: 190px;
    background-image: url("../img/map-marker.png");
    background-repeat: no-repeat;
    background-position: 0 0;
} */

.popup {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 55px;
    left: 374px;
    width: 319px;
    height: 308px;
    padding: 49px;
    text-align: left;
    background-color: #ffffff;  
}

.popup h3 {
    margin: 0;
    margin-bottom: 23px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.popup p {
    margin: 0;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
}

.popup .button {
    display: block;
    width: 219px;
    margin-top: 17px;
    padding: 16px 0;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

/* Footer */

.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 217px;
    margin: 0 auto;
    padding: 0;
    padding-left: 20px;
}

.footer-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 128px;
    padding: 0;
    padding-top: 55px;
    list-style: none;
}

.footer-social-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  	-webkit-box-align: center;
  	    -ms-flex-align: center;
  	        align-items: center;
  	-webkit-box-pack: center;
  	    -ms-flex-pack: center;
  	        justify-content: center;
 	width: 78px;
    height: 78px;
    margin-right: 12px; 
    background-color: #e1e1e1;
    border-radius: 50%;
}

.footer-social-btn:hover,
.footer-social-btn:focus {
    background-color: #e74246;
}

.footer-social-btn:active {
    background-color: #d7373b;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.footer-social-btn:active path {
    opacity: 0.3;
}

.offer-title {
    margin-bottom: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.offer-desc {
    margin-top: 11px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #444444;
    text-align: left;
}

.offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 780px;
    margin-top: 36px;
}

/* Modal window */

@-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
}

.modal {
    display: none;
    position: fixed;
    color: #000000;
    background-color: #ffffff;
    background-position: 0 0;
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}
  
.modal-feedback {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    top: 138px;
    left: 49.1%;
    width: 960px;
    min-height: 590px;
    margin-left: -464px;
    padding: 30px 100px 84px 100px;
    text-align: left;
}

.feedback-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.feedback-item {
    padding: 0;
    margin: 0;
    border: none;
}

.feedback-item label {
    display: block;
    margin-bottom: 5px;
	font-weight: 700;
}

.feedback-item input {
    width: 360px;
    min-height: 50px;
    margin-bottom: 31px;
}

.feedback-item textarea {
    width: 763px;
    min-height: 118px;
    margin-bottom: 43px;
    padding-top: 12px;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
    border: 2px solid #b4b9bb;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
    border: 2px solid #000000;
}

.feedback-item input:invalid,
.feedback-item textarea:invalid {
    border: 2px solid #e74246;
    color: #e74246;
}

.modal-btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
}

.modal-close {
    position: absolute;
    top: 78px;
    right: 90px; 
    width: 21px;
    height: 21px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-image: url(../img/close-cross.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    opacity: 0.3;
 }

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.modal-feedback h2 {
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: 400;
    line-height: 45px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 14px;
  	font-size: 16px;
	font-weight: 400;
  	line-height: 18px;
  	color: rgba(68, 68, 68, 0.5);
 	border: 2px solid #d7dcde;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    border-color: #000000;
    color: rgba(68, 68, 68, 1);
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    border-color: #b4b9bb;
}

/* Catalog */

.catalog-title-wrap {
    width: 1380px;
    margin: 0 auto;
    padding: 35px 30px 73px; 
    background-color: #eeeeee;
}

.catalog-title {
    width: 100%;
    font-size: 55px;
	font-weight: 400;
    line-height: 55px;
    text-align: center;
}

.catalog-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 30px;
}

.shop {
    margin-right: 140px;
}

/* Range filter */

.filter-item {
    width: 260px;
    margin-bottom: 58px;
    margin: 28px auto; 
    padding: 0;
    border: none;
}
  
.range-filter {
    width: 260px;
    margin: 52px 0 30px 0;
}
  
.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
}
  
.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding: 39px 20px 0 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}
  
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 60%;
    height: 2px;
    margin-left: 8%;
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
            box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 19px;
}
  
.range-controls .toggle-max {
    left: 160px;
}
  
.price-controls {
    font-size: 0;
    text-align: left;
}
  
.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}
  
.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 7px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
  
.max-price {
    text-align: right;
}

/* Radio filter */

.filter-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 20px;
    text-align: left;
}

.filter-item-radio,
.filter-item-checkbox,
.filter-item-range {
    margin-left: 0;
}

.filter-option {
    margin-top: 19px;
    margin-bottom: 20px;
    padding-left: 36px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.filter-input-radio+label::before {
    content: "";
    position: absolute;
    left: -35px;
    top: -2px;
    width: 16px;
    height: 16px;
    border: 4px solid #4d4d4d;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-input-radio:checked+label::after {
    content: "";
    position: absolute;
    left: -27px;
    top: 6px;
    width: 8px;
    height: 8px;
    background-color: #4d4d4d;
    border-radius: 50%;
    opacity: 0.4;
}

/* Checkbox filter */

.filter-input-checkbox + label::before {
    display: block;  
    content: "";
    position: absolute;
    top: 0px;
    left: -36px;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-off.svg") no-repeat top left;
    background-size: 23px 23px;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
    display: block; 
    content: "";
    position: absolute;
    top: 0px;
    left: -36px;
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on.svg") no-repeat top left;
    background-size: 27px 23px;
    opacity: 0.4;
}

.filter-input-radio:hover:checked + label::after,
.filter-input-radio:focus:checked + label::after, 
.filter-input-radio:hover + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:hover:checked + label::before {
    opacity: 1;
}
.filter-input-radio:disabled + label::after,
.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::before,
.filter-input-radio:checked:disabled + label::after,
.filter-input-checkbox:checked:disabled + label::before {
    opacity: 0.1;
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
    opacity: 0.3;
}

.filter-input-radio:focus + label::before,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:focus:checked + label::before {
    opacity: 1;
	outline: 3px solid rgb(103, 184, 250); 
    outline-offset: 5px;
}

.filter-button {
    width: 260px;
    margin-top: 30px;
    background-color: #eeeeee;
    color: #000000;
}

/* Sorting list */

.catalog-columns-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
}

.result-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 760px;
    margin-top: 28px;
    margin-bottom: 52px;
}

.sorting {
    margin-right: 264px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.sorting-list {
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 700px;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    font-size: 14px;
    line-height: 18px;
}

.sorting-button-up {
    margin-left: 20px;
}

.sorting-item:not(:last-child) {
    margin-right: 26px;
}

.sorting-item a {
    color: rgba(0, 0, 0, 0.30);
    text-transform: uppercase;
}

.sorting-item a:hover{
    color: rgba(0, 0, 0, 0.6);
}

.sorting-item a:active,
.sorting-item a:focus,
.sorting-item-current a,
.sorting-item-current:hover a,
.sorting-item-current:active a,
.sorting-item-current:focus a {
    color: #000000;
}

.sorting-button-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.sorting-button-svg:hover path {
    fill: rgba(0, 0, 0, 0.6);
}

.sorting-button-svg:active path,
.sorting-button-svg:focus path {
    fill: #000000;
}

/* Catalog list */

.catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
}

.catalog-item {
    position: relative;
    margin-bottom: 33px;
    padding-top: 40px;
}

.catalog-item:hover {
    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.catalog-item img {
    display: block;
    -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 1px rgba(0, 0, 0, 0.1) inset;
}

.catalog-list > li:nth-last-of-type(-n+2) {
    margin-bottom: 60px;
}

.catalog-item::before {
    display: block;  
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 40px;
    background: url("../img/browser.svg") no-repeat top left;
    opacity: 0.12;
}

.catalog-item::before:hover {
    opacity: 1;
}

.catalog-item-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    min-height: 231px;
    bottom: 0;
    left: 0;
    background-color: #eeeeee;
    opacity: 1;
}

.catalog-item-price:hover {
    opacity: 1;
}

.catalog-item-price h3 {
    margin-top: 26px;
    margin-bottom: 15px;
} 

.catalog-item-price a {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.catalog-item-price p {
    width: 240px;
    margin: 0;
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.catalog-button {
    width: 200px;
}

.catalog-button:active {
    color: #ffffff;
}

/* Pagination */

.pagination-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}

.pagination-item {
    margin-right: 12px; 
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    display: block;
    padding: 15px 20px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    background-color: #eeeeee;
    border-radius: 3px;
}

.pagination-item-text {
    min-width: 263px;
}

.pagination-item a:hover {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    background-color: #d5d5d5;
    color: rgb(0, 0, 0);
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.pagination-item-current a,
.page-buttons-number-current:hover a,
.page-buttons-number-current:focus a,
.page-buttons-number-current:active a {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 0 3px #dbdbdb inset;
            box-shadow: 0 0 0 3px #dbdbdb inset;
} 